body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 1% 10%;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 18px;
    font-weight:bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-links {
    display: flex;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

.main {
    width: 600px;
    height: 300px;
}

.images {
    max-width: 200px;
}

.rimages {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.awesome {
    background-color: #1f2937;
    display: flex;
    padding: 5% 10%;
    justify-content: space-between;
}

.awesome-header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.awesome-text {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    max-width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

P {
    color: #f9faf8;
    font-size: 18px;
}

.random {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-container {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    gap: 50px;
}


.action-container {
    background-color: #f9faf8;
    padding-left: 5%;
    padding-right: 5%;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 5% 10%;
}

.quote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.signature {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: end;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    padding: 2%;
    text-align: center;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button1 {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    padding: 5px 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border-radius: 8px;
    max-width: 130px;
}